**/log
**/dirinfo
**/.dirinfo
.env
**/jpeggeri.dat
**/*.bat
*.cls
.vscode/*
/bas/*
/data/*
/dist/
/doc/*.docx
/doc/*.jpg
/doc/*.png
/doc/*.pptx
/doc/cleverapps*.pdf
/local_deploy/*
*.ascii_cert
*.ascii_pem
*.pem+cert
.xcopyignore
dbraw.bat
dbraw_logs.bat
dbraw_sw.js
deploy.bat
jsconfig.json
tsconfig.json
dbraw.code-workspace
*_private.json
2020-Absage.png