**/log
**/dirinfo
**/.dirinfo
.env
**/jpeggeri.dat
**/*.bat
*.cls
.vscode/*
/bas/*
/data/*
/doc/*.docx
/doc/*.jpg
/doc/*.pptx
/local_deploy/*
*.ascii_cert
*.ascii_pem
*.pem+cert
.xcopyignore
jsconfig.json
*_private.json